@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

header {
  height: 100px;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  transition: background-color 1s ease, box-shadow 1s ease;
  z-index: 20;
}

header.scrolled {
  background-color: white;
}

header nav {
  display: flex;
  align-items: center;
  font-family: "Space grotesk";
}

header nav a {
  text-decoration: none;
  color: #414584;
}

header nav a:hover {
  text-decoration: underline;
  color: #414584;
}

header ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 35px;
  font-size: 1.5rem;
  margin-left: 15px;
}

header ul li {
  margin: 0 20px;
  transition: 0.5s;
}

header ul li a {
  display: block;
  position: relative;
  padding: 5px;
  font-size: 18px;
  text-transform: uppercase;
  transition: 0.5s;
}

header:hover li a {
  transform: scale(1.5);
  opacity: 0.2;
  filter: blur(5px);
}

header ul li a:hover {
  transform: scale(1.5);
  opacity: 1;
  filter: blur(0);
  color: #fff;
  text-decoration: none;
}

header ul li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #414584;
  transition: 0.5s;
  transform-origin: right;
  transform: scaleX(0);
  z-index: -1;
}

header li a:hover::before {
  transition: transform 0.5s;
  transform-origin: left;
  transform: scaleX(1);
}

.logo {
  width: 80px;
  height: 80px;
  margin-left: 35px;
}

section {
  display: flex;
  height: 100vh;
  align-items: center;
}

.presentation-section {
  background-image: url(./images/cool-background.svg);
  background-size: cover;
}

.container {
  height: 500px;
  width: 80%;
  margin: 0 auto;
}

.inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filters-list {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  gap: 20px;
  font-size: 1.7rem;
}

.filters-list li {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

.filters-list a {
  text-decoration: none;
  color: #414584;
}

.filters-list a:hover {
  text-decoration: underline;
  color: white;
  background-color: #414584;
}

h2 {
  font-size: 6rem;
  font-family: monospace;
}

p,
h3 {
  font-family: monospace;
}

p {
  font-size: 1.2rem;
}

.presentation p {
  font-size: 1.7rem;
}

.presentation span {
  font-size: 4rem;
}

.primary-button {
  background-color: #c5fc80;
  color: black;
  border-radius: 15px;
  border: none;
  padding: 10px 35px;
  margin-top: 25px;
  font-size: 1.5rem !important;
  font-weight: 500;
  font-family: monospace;
  transition: background-color 0.5s ease, box-shadow 0.5s ease, color 0.5s ease;
}

.primary-button a {
  text-decoration: none;
  color: black;
}

.primary-button:hover {
  background-color: #414584;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}

.primary-button a:hover {
  color: white;
}

.portrait-photo {
  height: 500px;
  width: 500px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 10px 10px rgba(0, 0, 0, 0.2);
}

.about-photo {
  height: 500px;
  width: 500px;
  border-radius: 20%;
  object-fit: cover;
  box-shadow: 0 2px 10px 10px rgba(0, 0, 0, 0.2);
}

.about {
  display: flex;
  justify-content: space-between;
  gap: 120px;
}

.about-section {
  background-image: url(./images/magicpattern-blob-1662736505079.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.about-descriptions {
  margin: auto 0;
}

h3 {
  font-size: 2rem;
}

.skills-section {
  background-image: url(./images/magicpattern-blob-1662736793961.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.skills-wrapper {
  width: 75%;
  margin: 0 auto;
}

.skills-intro {
  text-align: center;
}

.skills-boxes {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 30px;
}

.box {
  width: 280px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 10px 10px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.box .middle {
  align-self: 40px;
}

.skill-icon {
  width: 60px;
  height: 60px;
  margin: 0 auto;
}

.view-button {
  margin-left: auto;
  margin-right: auto;
}

.portfolio-section {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.portfolio-container {
  margin: 120px auto;
}

.portfolio-intro {
  color: white;
  text-align: center;
}

.portfolio-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 2rem;
  gap: 30px;
}

.portfolio-box {
  background-size: cover;
  color: white;
  position: relative;
}

.project-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.overlay {
  opacity: 0 !important;
  position: absolute;
  z-index: 1;
  background-color: rgb(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.portfolio-box .overlay {
  opacity: 1 !important;
  transition: opacity 0.5s ease !important;
}

.portfolio-box:hover .overlay {
  opacity: 1 !important;
}

.overlay h4 {
  font-size: 2rem;
  font-family: monospace;
  text-align: center;
}

.portfolio-box h4 {
  color: white;
}

.center {
  margin: 40px auto !important;
  display: flex;
  justify-content: center;
}

footer {
  text-align: center;
  height: 25px;
}

.contact-container {
  margin: auto auto;
  text-align: center;
}

.contact-text p {
  font-size: 1.7rem;
}

.contact-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact-row img {
  width: 100px;
  height: 100px;
  transition: box-shadow 0.5s ease;
}

.contact-row img:hover {
  box-shadow: 2px 2px 10px 10px rgba(0, 0, 0, 0.2);
}

/* responsive CSS */

@media screen and (max-width: 600px) {
  header {
    height: 300px;
    position: static;
    border-bottom: 1px black solid;
    background-color: #414584;
  }

  header nav {
    flex-direction: column;
    margin: 0 auto;
  }

  header ul {
    display: flex;
    flex-direction: column;
    gap: 3px;
    text-align: center;
  }

  header ul li a {
    font-size: 1.4rem;
    color: white;
    letter-spacing: 0.8rem;
  }

  .container {
    width: 100%;
    margin: 0 auto;
  }

  button {
    padding: 5px 10px;
  }

  section {
    height: auto;
  }

  .presentation-section {
    height: 1000px;
  }

  .about-section {
    height: 2500px;
  }

  .skills-section {
    height: auto;
  }

  .skills-intro h2 {
    font-size: 2rem;
  }

  .skills-wrapper {
    display: flex;
    flex-direction: column;
  }

  .box {
    width: 100%;
  }

  .contact-section {
    height: 100vh;
  }

  .contact-text h2 {
    font-size: 3.5rem;
  }

  button a {
    font-size: 1.5rem;
  }

  .portrait-photo,
  .about-photo {
    margin: 20px 0;
    width: 400px;
    height: 400px;
  }

  .container {
    width: 80%;
  }

  .inner-container {
    display: flex;
    flex-direction: column-reverse;
  }
  .presentation h2 {
    font-size: 2.5rem;
  }

  .presentation p {
    font-size: 1.5rem;
  }

  .about-section nav li {
    font-size: 1.5rem;
  }

  .about h2 {
    font-size: 2.5rem;
  }

  .about {
    flex-direction: column-reverse;
  }

  .skills-boxes {
    flex-direction: column;
  }

  .portfolio-box {
    background-color: red;
    height: 400px;
    width: 400px;
    margin: 0 auto;
  }

  .portfolio-intro h2 {
    font-size: 3rem;
  }
  .portfolio-intro {
    width: 80%;
    margin: 20px auto;
  }

  .portfolio-box img {
    width: 100%;
    height: 100%;
  }

  .portfolio-items {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* RESET */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
